body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('./fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }